@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F8F8F8;
  color: #222222;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  @apply bg-background-light text-secondary antialiased;
}
