* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-text);
}
