<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2023 Kauai Rocha. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/kauai-lucas-rocha-bozoli-quinup/" target="_blank" class="social-link linkedin me-3" title="LinkedIn">
                        <i class="fab fa-linkedin-in fa-lg"></i>
                    </a>
                    <a href="https://github.com/kauairbq" target="_blank" class="social-link github me-3" title="GitHub">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/ka_roochaa/" target="_blank" class="social-link instagram me-3" title="Instagram">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.facebook.com/kauai.rocha.10/" target="_blank" class="social-link facebook me-3" title="Facebook">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a href="https://twitter.com/kauai_rocha" target="_blank" class="social-link twitter" title="Twitter">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
