<header>
    <a class="skip-link" href="#main-content">Pular para o conteúdo</a>
    <nav role="navigation" aria-label="Main Navigation">
        <div class="logo">
            <img src="assets/img/logo.webp" alt="Logo">
        </div>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="about.html">Sobre</a></li>
            <li><a href="projects.html">Projetos</a></li>
            <li><a href="contact.html">Contato</a></li>
        </ul>
        <button id="dark-mode-toggle">🌙</button>
    </nav>
</header>
