version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: todo-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - todo-mongo-data:/data/db

volumes:
  todo-mongo-data:
